<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Our Portfolio</h2>
        <p>Mutiple popuse web site and mobile native apps-Soical,Dating,Taxi service,Booking system,Shopping,E-commerce,Traveling service,Sport support,Social chat,GPS service,Payment getway,AR technology</p>
      </div>
    </div>
  </div>
  <div id="container-fluid">
    <div class="row">


      <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
        <div class="fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="video-container text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pgklH5vaSs0" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">

            <!--<img class="img-responsive" src="/assets/portfolio/traveling.png" class="img-rounded" alt="">-->
            <%= image_tag "portfolio/traveling.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>TRAVELING</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/traveling_details.png') %> data-lightbox="portfolio" data-title="TRAVELING SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/booking.png" alt="">-->
            <%= image_tag "portfolio/booking.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>BOOKING-FOOD</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/booking_details.png') %> data-lightbox="portfolio" data-title="BOOKING SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/dating.png" alt="">-->
            <%= image_tag "portfolio/dating.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>DATING-SOCIAL COMMUNICATE</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/dating_details.png') %> data-lightbox="portfolio" data-title="DATING SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/locationservice.png" alt="">-->
            <%= image_tag "portfolio/locationservice.png", class: "img-responsive", alt: 'logo' %>

          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>LOCATION SERVICE</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/location_details.png') %> data-lightbox="portfolio" data-title="LOCATION SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/photoshare.png" alt="">-->
            <%= image_tag "portfolio/photoshare.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>SOCIAL MEDIA</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/photoshare_details.png') %> data-lightbox="portfolio" data-title="PHOTO SHARING SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/scehule.png" alt="">-->
            <%= image_tag "portfolio/scehule.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>SCHEDULE</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/schedule_details.png') %> data-lightbox="portfolio" data-title="SCHEDULE SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/sports.png" alt="">-->
            <%= image_tag "portfolio/sports.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>SPORTS</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/sports_details.png') %> data-lightbox="portfolio" data-title="SPORTS SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
          <div class="folio-image">
            <!--<img class="img-responsive" src="/assets/portfolio/chating.png" alt="">-->
            <%= image_tag "portfolio/chating.png", class: "img-responsive", alt: 'logo' %>
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>VOICE,VIDEO,TEXT MESSAGING</h3>
                  <p>DESIGN,DEVELOPMENT-FROM START TO END</p>
                </div>
                <div class="folio-overview">
                  <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                  <span class="folio-expand"><a href=<%= asset_path('portfolio/chating_details.png') %> data-lightbox="portfolio" data-title="CHATING SERVICE."><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio-single-wrap">
    <div id="portfolio-single">
    </div>
  </div><!-- /#portfolio-single-wrap -->
</section><!--/#portfolio-->